<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NoteUp!</title>
    <link rel="stylesheet" href="/styles/index.css">
</head>
<body>
    <h1>Poll Creation Step-1</h1>
    <form action="/create" method="POST">
        <input type="text" name="pollName" placeholder="Poll Name">
        <input type="number" name="options" placeholder="Number of Options">
        <input type="submit" value="Create Poll">
    </form>
</body>
</html>